{% extends 'basketball_game_app/menu.html' %}
{% block content %}
    <div id="game-data">
        <form method="post">
            <div id="div_team1" style="display: inline-block; border-width: 1px; border-style: solid">
                <table>
                    <tr>
                        <th colspan="3">{{ game_data.team_home }}</th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <label>Points:
                                <input type="text" id="team_home_score" name="team_home_score">
                            </label>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <button name="team_home_3" class="3Pm" value="3">3Pm</button>
                            <button name="team_home_3" class="3Pa" value="0">3Pa</button>
                        </td>
                        <td>
                            <button name="team_home_2" class="2Pm" value="2">2Pm</button>
                            <button name="team_home_2" class="2Pa" value="0">2Pa</button>
                        </td>
                        <td>
                            <button name="team_home_1" class="FTm" value="1">FTm</button>
                            <button name="team_home_1" class="FTa" value="0">FTa</button>
                        </td>
                    </tr>
                    <tr class="team_stats">
                        <td>
                            <label>3Pm:
                                <p class="3Pm">
                                    0
                                </p>
                            </label>
                            <label>3Pa:
                                <p class="3Pa 3Pm">
                                    0
                                </p>
                            </label>
                        </td>
                        <td>
                            <label>2Pm:
                                <p class="2Pm">
                                    0
                                </p>
                            </label>
                            <label>2Pa:
                                <p class="2Pa 2Pm">
                                    0
                                </p>
                            </label>
                        </td>
                        <td>
                            <label>FTm:
                                <p class="FTm">
                                    0
                                </p>
                            </label>
                            <label>FTa:
                                <p class="FTa FTm">
                                    0
                                </p>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="div_team2" style="display: inline-block; border-width: 1px; border-style: solid">
                <table>
                    <tr>
                        <th colspan="3">{{ game_data.team_away }}</th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <label>Points:
                                <input type="text" id="team_away_score" name="team_away_score">
                            </label>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <button name="team_away_3" class="3Pm" value="3">3Pm</button>
                            <button name="team_away_3" class="3Pa" value="0">3Pa</button>
                        </td>
                        <td>
                            <button name="team_away_2" class="2Pm" value="2">2Pm</button>
                            <button name="team_away_2" class="2Pa" value="0">2Pa</button>
                        </td>
                        <td>
                            <button name="team_away_1" class="FTm" value="1">FTm</button>
                            <button name="team_away_1" class="FTa" value="0">FTa</button>
                        </td>
                    </tr>
                    <tr class="team_stats">
                        <td>
                            <label>3Pm:
                                <p class="3Pm">
                                    0
                                </p>
                            </label>
                            <label>3Pa:
                                <p class="3Pa 3Pm">
                                    0
                                </p>
                            </label>
                        </td>
                        <td>
                            <label>2Pm:
                                <p class="2Pm">
                                    0
                                </p>
                            </label>
                            <label>2Pa:
                                <p class="2Pa 2Pm">
                                    0
                                </p>
                            </label>
                        </td>
                        <td>
                            <label>FTm:
                                <p class="FTm">
                                    0
                                </p>
                            </label>
                            <label>FTa:
                                <p class="FTa FTm">
                                    0
                                </p>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <button type="submit">end of quarter</button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
