{% extends 'basketball_game_app/menu.html' %}
{% block content %}
    <div id="game-data">
        <form method="post">
            <div id="div_team1" style="display: inline-block; border-width: 1px; border-style: solid">
                <table border="1">
                    <tr>
                        <th colspan="3">{{ game_data.team_home }}</th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <label>TOT
                                <input size="5" type="text" id="team_home_score_total" name="team_home_score_total"
                                       readonly value="{{ team_home_score_total }}">
                            </label>
                            <br>
                            <label>{% if quarter < 5 %}Q{{ quarter }}{% else %}OT{% endif %}
                                <input size="5" type="text" id="team_home_score" name="team_home_score" readonly>
                            </label>
                        </th>
                    </tr>
                    <tr class="team_stats_points">
                        <td>
                            <button name="team_home_3" class="3Pm" value="3">3Pm</button>
                            <button name="team_home_3" class="3Pa" value="0">3Pa</button>
                        </td>
                        <td>
                            <button name="team_home_2" class="2Pm" value="2">2Pm</button>
                            <button name="team_home_2" class="2Pa" value="0">2Pa</button>
                        </td>
                        <td>
                            <button name="team_home_1" class="FTm" value="1">FTm</button>
                            <button name="team_home_1" class="FTa" value="0">FTa</button>
                        </td>
                    </tr>
                    {% include 'basketball_game_app/team_stats.html' %}
                </table>
            </div>
            <div id="div_team2" style="display: inline-block; border-width: 1px; border-style: solid">
                <table border="1">
                    <tr>
                        <th colspan="3">{{ game_data.team_away }}</th>
                    </tr>
                    <tr>
                        <th colspan="3">
                            <label>TOT
                                <input size="5" type="text" id="team_away_score_total" name="team_away_score_total"
                                       value="{{ team_away_score_total }}" readonly>
                            </label>
                            <br>
                            <label>{% if quarter < 5 %}Q{{ quarter }}{% else %}OT{% endif %}
                                <input size="5" type="text" id="team_away_score" name="team_away_score" readonly>
                            </label>
                        </th>
                    </tr>
                    <tr class="team_stats_points">
                        <td>
                            <button name="team_away_3" class="3Pm" value="3">3Pm</button>
                            <button name="team_away_3" class="3Pa" value="0">3Pa</button>
                        </td>
                        <td>
                            <button name="team_away_2" class="2Pm" value="2">2Pm</button>
                            <button name="team_away_2" class="2Pa" value="0">2Pa</button>
                        </td>
                        <td>
                            <button name="team_away_1" class="FTm" value="1">FTm</button>
                            <button name="team_away_1" class="FTa" value="0">FTa</button>
                        </td>
                    </tr>
                    {% include 'basketball_game_app/team_stats.html' %}
                </table>
            </div>
            <button type="submit" id="end_quarter">END QUARTER</button>
            {% csrf_token %}
        <input type="hidden" id="game_id" value="{{ game_data.id }}">
        </form>
    </div>
{% endblock %}
