<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basketball</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>

<div class="menu">
    <ul>
        <li class="menu"><a class="menu" href="{% url 'all-games' %}">All games</a></li>
        <li class="menu"><a class="menu" href="{% url 'all-teams' %}">All teams</a></li>
        <li class="menu"><a class="menu" href="{% url 'all-players' %}">All players</a></li>
        <li class="menu"><a class="menu" href="{% url 'add-team' %}">Add team</a></li>
        <li class="menu"><a class="menu" href="{% url 'add-player' %}">Add player</a></li>
        <li class="menu"><a class="menu" href="{% url 'new-game' %}">New game</a></li>
    </ul>
</div>
{% block base %}

{% endblock %}
{% block content %}

{% endblock %}
</body>
</html>