<tr class="team_stats_points">
    <td>
        <label>3Pm
            <p class="3Pm">
                0
            </p>
        </label>
        <label>3Pa
            <p class="3Pa 3Pm">
                0
            </p>
        </label>
    </td>
    <td>
        <label>2Pm
            <p class="2Pm">
                0
            </p>
        </label>
        <label>2Pa
            <p class="2Pa 2Pm">
                0
            </p>
        </label>
    </td>
    <td>
        <label>FTm
            <p class="FTm">
                0
            </p>
        </label>
        <label>FTa
            <p class="FTa FTm">
                0
            </p>
        </label>
    </td>
</tr>
<tr class="team_stats_reb">
    <td>
        <button class="OffReb">OffReb</button>
    </td>
    <td>
         <button class="DefReb">DefReb</button>
    </td>
    <td>
        <label>Total Rebounds</label>
    </td>
</tr>
<tr class="team_stats_reb">
    <td>
        <label>

            <p class="OffReb">
                0
            </p>
        </label>
    </td>
    <td>
        <label>

            <p class="DefReb">
                0
            </p>
        </label>
    </td>
    <td>
        <label>
            <p class="DefReb OffReb">
                0
            </p>
        </label>
    </td>
</tr>
<tr class="team_stats_pos">
    <td>
        <button class="Ast">Assist</button>
    </td>
    <td>
         <button class="Stl">Steal</button>
    </td>
    <td>
         <button class="Blk">Block</button>
    </td>
</tr>
<tr class="team_stats_pos">
    <td>
        <label>

            <p class="Ast">
                0
            </p>
        </label>
    </td>
    <td>
        <label>

            <p class="Stl">
                0
            </p>
        </label>
    </td>
    <td>
        <label>
            <p class="Blk">
                0
            </p>
        </label>
    </td>
</tr>
<tr class="team_stats_neg">
    <td>
        <button class="Tov">Turnover</button>
    </td>
    <td>
         <button class="PF">Personal Foul</button>
    </td>
    <td>
         <button class="TF">Technical Foul</button>
    </td>
</tr>
<tr class="team_stats_neg">
    <td>
        <label>

            <p class="Tov">
                0
            </p>
        </label>
    </td>
    <td>
        <label>

            <p class="PF">
                0
            </p>
        </label>
    </td>
    <td>
        <label>
            <p class="TF">
                0
            </p>
        </label>
    </td>
</tr>