td{
    margin-right: 50px;
    text-align: inherit;
}
table{
    margin: 50px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

table, table td, table th {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}
